<section id="hsc-header-nav-toolbar">
  <div class="hsc-header-nav-container">
    <a class="hsc--logo" href="https://www.sc-hohenems.at" aria-label="Zurück zur Homepage">
      {{ _self.getHscSvg() }}
      SC Samina Hohenems
    </a>
    {{ _self.getNav(toolbar) }}
    <div class="hsc--premium-sponsor">
      <span class="hsc--label">
        Präsentiert von
      </span>
      <a class="hsc--menu-premium-sponsor-link"
         href="https://www.samina.com"
         target="_blank"
         aria-label="Zur Samina Homepage">
        {{ _self.getSaminaSvg() }}
      </a>
    </div>
  </div>
</section>

<section id="hsc-header-nav-desktop">
  <div class="hsc-header-nav-container">
    <a class="hsc--logo" href="https://www.sc-hohenems.at" aria-label="Zurück zur Homepage">
      {{ _self.getHscSvg() }}
    </a>
    {{ _self.getNav(desktop) }}
  </div>
</section>

<div id="hsc-header-nav-mobile">
  <div class="hsc-header-nav-mobile-container">
    <a class="hsc--menu-home-link" href="https://www.sc-hohenems.at" aria-label="Zurück zur Homepage">
      {{ _self.getHscSvg() }}
      SC Hohenems
    </a>

    <a class="hsc--menu-premium-sponsor-link"
       href="https://www.samina.com"
       target="_blank"
       aria-label="Zur Samina Homepage">
      {{ _self.getSaminaSvg() }}
    </a>

    <button id="hsc--menu-toggle"
            class="hsc--toggle-btn"
            aria-label="Menü ein- oder ausblenden"
            aria-expanded="false">
      <span class="hsc--toggle-btn--bar1"></span>
      <span class="hsc--toggle-btn--bar2"></span>
      <span class="hsc--toggle-btn--bar3"></span>
    </button>
  </div>

  <div id="hsc--menu-overlay" class="hsc--menu-overlay">
    <div class="hsc--menu-overlay-highlights">
      <a href="/tickets" aria-label="Tickets" class="hsc--menu-overlay-highlights-item">
        {% include 'templates/svgs/ticket.svg' %}
        <span>TICKETS</span>
      </a>

      <a href="/gamecenter/#gc/" aria-label="Gamecenter" class="hsc--menu-overlay-highlights-item">
        {% include 'templates/svgs/hockey-rink.svg' %}
        <span>GAMECENTER</span>
      </a>

      <a href="https://shop.sc-hohenems.at" aria-label="Online Shop" class="hsc--menu-overlay-highlights-item shop">
        {% include 'templates/svgs/shop.svg' %}
        <span>FAN SHOP</span>
      </a>
    </div>

    {{ _self.getNav(mobile, true, true) }}

    <div class="hsc--menu-premium-sponsor">
      <a class="hsc--menu-premium-sponsor-link"
         href="https://www.samina.com"
         target="_blank"
         aria-label="Zur Samina Homepage">
        {{ _self.getSaminaSvg() }}
      </a>

      <span>Hauptsponsor</span>
    </div>
   </div>
  <button id="hsc--menu-backdrop" class="hsc--menu-backdrop" type="button" aria-label="Menü schließen"></button>
</div>

{% macro getNav(menu, showSub = true, isMobile = false) %}
  <ul class="hsc--nav">
    {% for item in menu.items %}
      <li class="hsc--nav-main-item {{ item.classes|join(' ') }}">
        {% if showSub and item.children and isMobile %}
          <div class="hsc--nav-main-link hsc--subnav-toggle"
               aria-label="Menü Punkt {{ item.title }}, Untermenü anzeigen">
            {{ item.title }}
          </div>
        {% else %}
          <a class="hsc--nav-main-link" href="{{ item.link }}"
             aria-label="Menü Punkt {{ item.title }}">
            {{ item.title }}
          </a>
        {% endif %}

        {% if showSub and item.children %}
          <ul class="hsc--subnav">
            {% for child in item.children %}
              <li class="hsc--subnav-item {{ child.classes|join(' ') }}">
                <a class="hsc--subnav-link" href="{{ child.link }}" aria-label="Menü Punkt {{ item.title }}">
                  {{ child.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro getSaminaSvg() %}
  {% include 'templates/svgs/samina.svg' %}
{% endmacro %}

{% macro getHscSvg() %}
  {% include 'templates/svgs/sc-hohenems-logo.svg' %}
{% endmacro %}
