<div class="hsc--post-slider">
  <button class="hsc--slider-arrow" id="hsc--slider-arrow-prev">
    &#8249;
  </button>
  <button class="hsc--slider-arrow" id="hsc--slider-arrow-next">
    &#8250;
  </button>
  <div class="hsc--slider-container" id="hsc--slider-container">
    {% for post in posts %}
      {% set image = get_image(post.thumbnail) %}
      {% set preview = post.excerpt %}

      <div class="hsc--slide" data-index="{{ loop.index0 }}">
        {% if post.thumbnail %}
          <img class="hsc--slide-image"
               src="{{ post.thumbnail.src }}"
               srcset="{{ post.thumbnail.srcset }}"
               sizes="{{ post.thumbnail.img_sizes }}"
               loading="lazy"
          />
        {% endif %}
        <div class="hsc--slide-container">
          <div class="hsc--slide-content">
            <div class="hsc--slide-title">
              {{ post.title | trim }}
            </div>
            <a class="hsc--slide-button" href="{{ post.link }}">
              Zur Story
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="hsc--slider-pagination" id="hsc--slider-pagination">
    <div class="hsc--slider-pagination-inner">
      {% for post in posts %}
        <div class="hsc--pagination-item" data-index="{{ loop.index0 }}">
          <div class="hsc--pagination-progress"></div>
          <div class="hsc--pagination-title">
            {{ post.title | trim }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="hsc--slider-loader"></div>
</div>

<script>
  window.addEventListener('NewsSliderLoaded', (event) => {
    console.log('yolo');

    const newsSlider = new NewsSlider();

    newsSlider.init();
  });
</script>
